
{{#if username}}
  <h2>Welcome, {{ username }}!</h2>
  <br>
    <br>
    <br>
    {{user.userPicture}}
    <br>
    <br>
    {{city}}
    <br>
    <br>
    <br>
    "**For Final Product: Add a Favorites Section!**"

{{else}}
  <p>Still no logged in user, sorry!</p>
{{/if}}