
{{#if username}}
  <h2>Welcome, {{ username }}!</h2>
  <br>
    <br>
    <br>
    {{userPicture}}
    <br>
    <br>
    {{city}}
    <br>
    <br>
    <br>
    "Display favorites here"

{{else}}
  <p>Still no logged in user, sorry!</p>
{{/if}}