<h1>{{appTitle}} 🚀</h1>
<p>Welcome to ArtSinTecho</p>
<p>Where creativity cannot be housed!</p>
<br>

<div class="hero">

    <a href="/artists/create">Add an Artist</a>
    <a href="/artwork/create">Add Artwork</a>

    <a href="/artists">All Artists</a>
    <a href="/artwork">All Artwork</a>    
</div>
