<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{appTitle}}</title>
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

   <body>

      <nav class="first-nav">
         <a href="/">Home</a>
         {{#if loggedIn}}
         <a href="/auth/profile">Profile</a>
         <form id="logout-form" action="/auth/logout" method="POST">
            <button>Logout</button>
         </form>
         {{else}}
         <a href="/auth/signup">Signup</a>
         <a href="/auth/login">Login</a>
         {{/if}}
      </nav>
   
      <nav class="navbar">
        <a class="nav-link active" href="/">ArtSinTecho</a>
        <a class="nav-link active" aria-current="page" href="/artists/create">Submit an Artist!</a>
        <a class="nav-link active" href="/artwork/create">Add Artwork</a>
        <a class="nav-link active" href="/artists">All Artists</a>
        <a class="nav-link active" href="/artwork">Available Work</a>
    </div>
  </div>
</nav>

<nav>

      {{{body}}}

      <script src="/js/script.js"></script>
   </body>

</html>