<form action="/signup" method="POST">

<label>Picture
    <input type="image" name="pic" placeholder="your picture here">
</label>

<label>Username
 <input type="text" name="username" placeholder="username" />
</label>

<label>Password
    <input type="password" name="password" placeholder="********" />
</label>

<button type="submit">Create account</button>

</form>