<h2>Edit Artist</h2>

<form action="/artists/{{artist._id}}" method="POST">
    <label>Picture</label>
    <input id="pic" type="pic" name="pic"/>
    <br>
    <br>
    <label for="artists">Name</label>
    <select name="artist" id="artist" multiple>
        {{#each artists}}
            <option value="{{_id}}">{{name}}</option>
        {{/each}}
    </select>
    <br>
    <label>City</label>
    <input id="city" type="text" name="city"/>
    <br>
    <br>
    <label>Art Type</label>
    <input id="artType" type="text" name="artType"/>
    <br>
    <br>
    <label>Description</label>
    <input id="description" type="text" name="description"/>
    <br>
    <br>
    <button type="submit">Edit Artist</button>
</form>