<h2>Create a new Artist</h2>
<form action="/artists/create" method="POST">
    <label>Name</label>
    <input id="name" type="text" name="name"/>
    <br>
    <br>
    <label>City</label>
    <input id="city" type="text" name="city"/>
    <br>
    <br>
    <label>Type of Art</label>
    <input id="artType" type="text" name="artType"/>
    <br>
    <br>
    <label>Description</label>
    <input id="description" type="text" name="description"/>
    <br>
    <br>
    <label>Picture</label>
    <input id="pic" type="file" name="pic"/>
    <br>
    <br>
    <button type="submit">Add new Artist</button>
</form>