<div class="artist">

<div class="artists-container">

  <h1>Artists</h1>
<br>

  {{#each artists}}
    <br>
    <img
      src="{{pic}}"
      alt="Profile Picture"
      id="avatar"
    />
    <br>
    <br>
   {{name}}
    <br>
    {{city}}
    <br>
    <br>
    <a href="/artists/{{id}}">More Details</a>
    <br>
    <br>
    <br>
    <br>
{{/each}}
</div>
</div>